body {
    background-image: url('/bg.webp') !important;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#wrapper, .container {
    background: rgba(0, 0, 0, 0.3) !important;
}

#sticky-nav {
    background-color: rgba(0, 0, 0, 0.2) !important; /* 极浅的底色 */
    backdrop-filter: blur(10px) saturate(160%) !important; /* 这里调高模糊实现亚克力 */
    -webkit-backdrop-filter: blur(10px) saturate(160%) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.fa-podcast, [title="随便逛逛"], [title="Walk Around"] {
    display: none !important;
}

footer {
    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(8px) saturate(150%) !important;
    -webkit-backdrop-filter: blur(8px) saturate(150%) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.side-card {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer * {
    color: rgba(255, 255, 255, 0.8) !important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}